<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.simland.core.module.purview.mapper.RoleMapper">

	<resultMap id="RoleRM" type="com.simland.core.module.purview.entity.Role">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="createTime" column="createTime" />
		<result property="sid" column="sid" />
	</resultMap>

	<sql id="Base_Column_List">
	    <![CDATA[
        id,
        name,
        createTime,
        sid
	    ]]>
	</sql>


	<insert id="insertRole" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.simland.core.module.purview.entity.Role">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() as id
		</selectKey> 
	    <![CDATA[
	        INSERT INTO t_role (
		        name,
		        sid
	        ) VALUES (
		    	#{name},
		    	#{sid}
	        )
	    ]]>
	</insert>

	<update id="updateRole">
	    <![CDATA[
        UPDATE t_role SET
	        id = #{id},
	        name = #{name},
	        createTime = #{createTime},
	        sid = #{sid}
        WHERE 
	        id = #{id}
    	]]>
	</update>

	<delete id="deleteRole">
    <![CDATA[
        DELETE FROM t_role WHERE
        id = #{id} 
    ]]>
	</delete>

	<select id="getRole" resultMap="RoleRM">
		SELECT
		<include refid="Base_Column_List" />
	    <![CDATA[
		    FROM t_role 
	        WHERE 
	        id = #{id} 
	    ]]>
	</select>

	<select id="getRoleList" resultMap="RoleRM">
		SELECT
		<include refid="Base_Column_List" />
	    <![CDATA[
		    FROM t_role  
	        WHERE 
	        id = #{id} 
	    ]]>
	</select>

	<sql id="pageWhere">
		<where>
			<if test="id!=null">
				AND id = #{id}
			</if>
			<if test="name!=null">
				AND name = #{name}
			</if>
			<if test="createTime!=null">
				AND createTime = #{createTime}
			</if>
			<if test="nameLike!=null">
				AND name like "%"#{nameLike}"%"
			</if>
			<if test="sid!=null">
				AND sid = #{sid}
			</if>
		</where>
	</sql>

	<select id="getRoleCount" resultType="int">
		SELECT count(*) FROM t_role
		<include refid="pageWhere" />
	</select>

	<select id="getSplitRoleList" resultMap="RoleRM">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_role
		<include refid="pageWhere" />

		ORDER BY id desc
		
		limit #{endSize},#{pageSize}
	</select>

</mapper>
