<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.simland.core.module.chat.mapper.MessageMapper">

	<resultMap id="MessageRM" type="com.simland.core.module.chat.entity.Message">
        <result property="id" column="id"/>
        <result property="sid" column="sid"/>
        <result property="uid" column="uid"/>
        <result property="message" column="message"/>
        <result property="sendTime" column="sendTime"/>
        <result property="sendType" column="sendType"/>
	</resultMap>

	<sql id="Base_Column_List">
	    <![CDATA[
        id id,
        sid sid,
        uid uid,
        message message,
        sendTime sendTime,
        sendType sendType
	    ]]>
	</sql>


	<insert id="insertMessage" useGeneratedKeys="true" keyProperty="id"
	parameterType="com.simland.core.module.chat.entity.Message">
	    <![CDATA[
	        INSERT INTO t_message (
		        sid,
		        uid,
		        message,
		        sendTime,
		        sendType
	        ) VALUES (
		        	#{sid},
		        	#{uid},
		        	#{message},
		        	#{sendTime},
		        	#{sendType}
	        )
	    ]]>
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() as id
		</selectKey>     
	</insert>

	<update id="updateMessage">
	    <![CDATA[
        UPDATE t_message
        ]]>
        <set>
		<if test="sid!=null">
        	sid = #{sid},
		</if>
		<if test="uid!=null">
        	uid = #{uid},
		</if>
		<if test="message!=null">
        	message = #{message},
		</if>
		<if test="sendTime!=null">
        	sendTime = #{sendTime},
		</if>
		<if test="sendType!=null">
        	sendType = #{sendType},
		</if>
        </set>
	    <![CDATA[  
        WHERE 
	        id = #{id}
    	]]>
	</update>

	<delete id="deleteMessage">
    <![CDATA[
        DELETE FROM t_message WHERE
        id = #{id} 
    ]]>
	</delete>
	
	<select id="getMessage" resultMap="MessageRM">
		SELECT
		<include refid="Base_Column_List" />
	    <![CDATA[
		    FROM t_message 
	        WHERE 
	        id = #{id} 
	    ]]>
	</select>

	<select id="getMessageList" resultMap="MessageRM">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_message  
		<include refid="pageWhere" />
	</select>

	<sql id="pageWhere">
		<where>
			<if test="id!=null">
	        AND id = #{id}
	        </if>
			<if test="sid!=null">
	        AND sid = #{sid}
	        </if>
			<if test="uid!=null">
	        AND uid = #{uid}
	        </if>
			<if test="message!=null">
	        AND message = #{message}
	        </if>
			<if test="sendTime!=null">
	        AND sendTime = #{sendTime}
	        </if>
			<if test="sendType!=null">
	        AND sendType = #{sendType}
	        </if>
		</where>
	</sql>

	<select id="getMessageCount" resultType="int">
		SELECT count(*) FROM t_message
		<include refid="pageWhere" />
	</select>
	
	<select id="getSplitMessageList" resultMap="MessageRM">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_message
		<include refid="pageWhere" />

		<if test="sortColumns!=null">
			ORDER BY #{sortColumns} DESC
		</if>
		limit #{endSize},#{pageSize}
	</select>

</mapper>
