<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.simland.core.module.order.mapper.OrderMapper">

	<resultMap id="OrderRM" type="com.simland.core.module.order.entity.Order">
        <result property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="sid" column="sid"/>
        <result property="total" column="total"/>
        <result property="quantity" column="quantity"/>
        <result property="createTime" column="createTime"/>
        <result property="uaid" column="uaid"/>
        <result property="receiverName" column="receiverName"/>
        <result property="receiverPhone" column="receiverPhone"/>
        <result property="receiverProvince" column="receiverProvince"/>
        <result property="receiverCity" column="receiverCity"/>
        <result property="receiverDistrict" column="receiverDistrict"/>
        <result property="receiverAddress" column="receiverAddress"/>
        <result property="receiverZipCode" column="receiverZipCode"/>
        <result property="orderStatus" column="orderStatus"/>
        <result property="logisticsStauts" column="logisticsStauts"/>
        <result property="isDel" column="isDel"/>
        <result property="remark" column="remark"/>
        <association property="shop" column="sid" select="com.simland.core.module.shop.mapper.ShopMapper.getShop"/>
        <collection property="orderItems" column="id" ofType="OrderItem" select="com.simland.core.module.order.mapper.OrderItemMapper.getOrderItemListByOid" />
	</resultMap>

	<sql id="Base_Column_List">
	    <![CDATA[
        id id,
        uid uid,
        sid sid,
        total total,
        quantity quantity,
        createTime createTime,
        uaid uaid,
        receiverName receiverName,
        receiverPhone receiverPhone,
        receiverProvince receiverProvince,
        receiverCity receiverCity,
        receiverDistrict receiverDistrict,
        receiverAddress receiverAddress,
        receiverZipCode receiverZipCode,
        orderStatus orderStatus,
        logisticsStauts logisticsStauts,
        isDel isDel,
        remark remark
	    ]]>
	</sql>


	<insert id="insertOrder" useGeneratedKeys="true" keyProperty="id"
	parameterType="com.simland.core.module.order.entity.Order">
	    <![CDATA[
	        INSERT INTO t_order (
		        uid,
		        sid,
		        total,
		        quantity,
		        createTime,
		        uaid,
		        receiverName,
		        receiverPhone,
		        receiverProvince,
		        receiverCity,
		        receiverDistrict,
		        receiverAddress,
		        receiverZipCode,
		        orderStatus,
		        logisticsStauts,
		        isDel,
		        remark
	        ) VALUES (
		        	#{uid},
		        	#{sid},
		        	#{total},
		        	#{quantity},
		        	#{createTime},
		        	#{uaid},
		        	#{receiverName},
		        	#{receiverPhone},
		        	#{receiverProvince},
		        	#{receiverCity},
		        	#{receiverDistrict},
		        	#{receiverAddress},
		        	#{receiverZipCode},
		        	#{orderStatus},
		        	#{logisticsStauts},
		        	#{isDel},
		        	#{remark}
	        )
	    ]]>
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() as id
		</selectKey>     
	</insert>

	<update id="updateOrder">
	    <![CDATA[
        UPDATE t_order SET
        ]]>
		<if test="uid!=null">
        	uid = #{uid}
		</if>
		<if test="sid!=null">
        	sid = #{sid}
		</if>
		<if test="total!=null">
        	total = #{total}
		</if>
		<if test="quantity!=null">
        	quantity = #{quantity}
		</if>
		<if test="createTime!=null">
        	createTime = #{createTime}
		</if>
		<if test="uaid!=null">
        	uaid = #{uaid}
		</if>
		<if test="receiverName!=null">
        	receiverName = #{receiverName}
		</if>
		<if test="receiverPhone!=null">
        	receiverPhone = #{receiverPhone}
		</if>
		<if test="receiverProvince!=null">
        	receiverProvince = #{receiverProvince}
		</if>
		<if test="receiverCity!=null">
        	receiverCity = #{receiverCity}
		</if>
		<if test="receiverDistrict!=null">
        	receiverDistrict = #{receiverDistrict}
		</if>
		<if test="receiverAddress!=null">
        	receiverAddress = #{receiverAddress}
		</if>
		<if test="receiverZipCode!=null">
        	receiverZipCode = #{receiverZipCode}
		</if>
		<if test="orderStatus!=null">
        	orderStatus = #{orderStatus}
		</if>
		<if test="logisticsStauts!=null">
        	logisticsStauts = #{logisticsStauts}
		</if>
		<if test="isDel!=null">
        	isDel = #{isDel}
		</if>
		<if test="remark!=null">
        	remark = #{remark}
		</if>
	    <![CDATA[  
        WHERE 
	        id = #{id}
    	]]>
	</update>

	<delete id="deleteOrder">
    <![CDATA[
        DELETE FROM t_order WHERE
        id = #{id} 
    ]]>
	</delete>
	
	<select id="getOrder" resultMap="OrderRM">
		SELECT
		<include refid="Base_Column_List" />
	    <![CDATA[
		    FROM t_order 
	        WHERE 
	        id = #{id} 
	    ]]>
	</select>

	<select id="getOrderList" resultMap="OrderRM">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_order  
		<include refid="pageWhere" />
	</select>

	<sql id="pageWhere">
		<where>
			<if test="id!=null">
	        AND id = #{id}
	        </if>
			<if test="uid!=null">
	        AND uid = #{uid}
	        </if>
			<if test="sid!=null">
	        AND sid = #{sid}
	        </if>
			<if test="total!=null">
	        AND total = #{total}
	        </if>
			<if test="quantity!=null">
	        AND quantity = #{quantity}
	        </if>
			<if test="createTime!=null">
	        AND createTime = #{createTime}
	        </if>
			<if test="uaid!=null">
	        AND uaid = #{uaid}
	        </if>
			<if test="receiverName!=null">
	        AND receiverName = #{receiverName}
	        </if>
			<if test="receiverPhone!=null">
	        AND receiverPhone = #{receiverPhone}
	        </if>
			<if test="receiverProvince!=null">
	        AND receiverProvince = #{receiverProvince}
	        </if>
			<if test="receiverCity!=null">
	        AND receiverCity = #{receiverCity}
	        </if>
			<if test="receiverDistrict!=null">
	        AND receiverDistrict = #{receiverDistrict}
	        </if>
			<if test="receiverAddress!=null">
	        AND receiverAddress = #{receiverAddress}
	        </if>
			<if test="receiverZipCode!=null">
	        AND receiverZipCode = #{receiverZipCode}
	        </if>
			<if test="orderStatus!=null">
	        AND orderStatus = #{orderStatus}
	        </if>
			<if test="logisticsStauts!=null">
	        AND logisticsStauts = #{logisticsStauts}
	        </if>
			<if test="isDel!=null">
	        AND isDel = #{isDel}
	        </if>
			<if test="remark!=null">
	        AND remark = #{remark}
	        </if>
		</where>
	</sql>

	<select id="getOrderCount" resultType="int">
		SELECT count(*) FROM t_order
		<include refid="pageWhere" />
	</select>
	
	<select id="getSplitOrderList" resultMap="OrderRM">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_order
		<include refid="pageWhere" />

		<if test="sortColumns!=null">
			ORDER BY #{sortColumns}
		</if>
		limit #{endSize},#{pageSize}
	</select>

</mapper>
