<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.simland.core.module.shop.mapper.CategoryPropertiesValMapper">

	<resultMap id="CategoryPropertiesValRM" type="com.simland.core.module.shop.entity.CategoryPropertiesVal">
        <result property="id" column="id"/>
        <result property="cid" column="cid"/>
        <result property="cpid" column="cpid"/>
        <result property="cpvalue" column="cpvalue"/>
	</resultMap>

	<sql id="Base_Column_List">
	    <![CDATA[
        id id,
        cid cid,
        cpid cpid,
        cpvalue cpvalue
	    ]]>
	</sql>


	<insert id="insertCategoryPropertiesVal" useGeneratedKeys="true" keyProperty="id"
	parameterType="com.simland.core.module.shop.entity.CategoryPropertiesVal">
	    <![CDATA[
	        INSERT INTO t_category_properties_val (
		        cid,
		        cpid,
		        cpvalue
	        ) VALUES (
		        	#{cid},
		        	#{cpid},
		        	#{cpvalue}
	        )
	    ]]>
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() as id
		</selectKey>     
	</insert>


	<insert id="insertBatchCategoryPropertiesVal" parameterType="com.simland.core.module.shop.entity.CategoryPropertiesVal">
		<selectKey keyProperty="fetchTime" order="BEFORE"
			resultType="java.lang.String">
			SELECT CURRENT_TIMESTAMP()
		</selectKey>

			INSERT INTO t_category_properties_val (
		        cid,
		        cpid,
		        cpvalue
	        ) VALUES 
		<foreach collection="list" item="item" index="index" separator=",">
			<![CDATA[
 				(
		        	#{item.cid},
		        	#{item.cpid},
		        	#{item.cpvalue}
		        )
		    ]]>
		</foreach>

	</insert>



	<update id="updateCategoryPropertiesVal">
	    <![CDATA[
        UPDATE t_category_properties_val SET
        ]]>
		<if test="cid!=null">
        	cid = #{cid}
		</if>
		<if test="cpid!=null">
        	cpid = #{cpid}
		</if>
		<if test="cpvalue!=null">
        	cpvalue = #{cpvalue}
		</if>
	    <![CDATA[  
        WHERE 
	        id = #{id}
    	]]>
	</update>

	<delete id="deleteCategoryPropertiesVal">
    <![CDATA[
        DELETE FROM t_category_properties_val WHERE
        id = #{id} 
    ]]>
	</delete>
	
	<select id="getCategoryPropertiesVal" resultMap="CategoryPropertiesValRM">
		SELECT
		<include refid="Base_Column_List" />
	    <![CDATA[
		    FROM t_category_properties_val 
	        WHERE 
	        id = #{id} 
	    ]]>
	</select>
	
	<select id="getCategoryPropertiesValByCpid"  resultMap="CategoryPropertiesValRM">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_category_properties_val 
		<where>
			cpid = #{cpid}
		</where>
	</select>
	
	<select id="getCategoryPropertiesValByCid"  resultMap="CategoryPropertiesValRM">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_category_properties_val 
		<where>
			cid = #{cid}
		</where>
	</select>	

	<select id="getCategoryPropertiesValList" resultMap="CategoryPropertiesValRM">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_category_properties_val  
		<include refid="pageWhere" />
	</select>

	<sql id="pageWhere">
		<where>
			<if test="id!=null">
	        AND id = #{id}
	        </if>
			<if test="cid!=null">
	        AND cid = #{cid}
	        </if>
			<if test="cpid!=null">
	        AND cpid = #{cpid}
	        </if>
			<if test="cpvalue!=null">
	        AND cpvalue = #{cpvalue}
	        </if>
		</where>
	</sql>

	<select id="getCategoryPropertiesValCount" resultType="int">
		SELECT count(*) FROM t_category_properties_val
		<include refid="pageWhere" />
	</select>
	
	<select id="getSplitCategoryPropertiesValList" resultMap="CategoryPropertiesValRM">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_category_properties_val
		<include refid="pageWhere" />

		<if test="sortColumns!=null">
			ORDER BY #{sortColumns}
		</if>
		limit #{endSize},#{pageSize}
	</select>

</mapper>
