<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.simland.core.module.shop.mapper.CommodityMapper">

	<resultMap id="CommodityBase" type="com.simland.core.module.shop.entity.Commodity">
		<result property="id" column="id" />
		<result property="sid" column="sid" />
		<result property="name" column="name" />
		<result property="img" column="img" />
		<result property="type" column="type" />
		<result property="collectNum" column="collectNum" />
		<result property="marketPrice" column="marketPrice" />
		<result property="realPrice" column="realPrice" />
		<result property="createTime" column="createTime" />
		<result property="creater" column="creater" />
		<result property="isNew" column="isNew" />
		<result property="isSpecial" column="isSpecial" />
		<result property="isVip" column="isVip" />
        <result property="issueTime" column="issueTime"/>
        <result property="cause" column="cause"/>
        <result property="status" column="status" />
	</resultMap>

	<resultMap id="CommodityRM" type="com.simland.core.module.shop.entity.Commodity">
		<result property="id" column="id" />
		<result property="sid" column="sid" />
		<result property="name" column="name" />
		<result property="img" column="img" />
		<result property="type" column="type" />
		<result property="collectNum" column="collectNum" />
		<result property="marketPrice" column="marketPrice" />
		<result property="realPrice" column="realPrice" />
		<result property="createTime" column="createTime" />
		<result property="creater" column="creater" />
		<result property="isNew" column="isNew" />
		<result property="isSpecial" column="isSpecial" />
		<result property="isVip" column="isVip" />
        <result property="issueTime" column="issueTime"/>
        <result property="cause" column="cause"/>
        <result property="status" column="status" />
		<association property="cInventoryList" column="id"
			select="com.simland.core.module.shop.mapper.InventoryMapper.getInventoryByCommodityId" />

		<association property="commodityDetails" column="id"
			select="com.simland.core.module.shop.mapper.CommodityDetailsMapper.getCommodityDetailsByCid" />

		<!-- <association property="categoryPropertiesValList" column="id" select="com.simland.core.module.shop.mapper.CategoryPropertiesValMapper.getCategoryPropertiesValByCid" 
			/> -->
	</resultMap>

	<resultMap id="CommodityRM1" type="com.simland.core.module.shop.entity.Commodity">
		<result property="id" column="id" />
		<result property="sid" column="sid" />
		<result property="name" column="name" />
		<result property="img" column="img" />
		<result property="type" column="type" />
		<result property="collectNum" column="collectNum" />
		<result property="marketPrice" column="marketPrice" />
		<result property="realPrice" column="realPrice" />
		<result property="createTime" column="createTime" />
		<result property="creater" column="creater" />
		<result property="isNew" column="isNew" />
		<result property="isSpecial" column="isSpecial" />
		<result property="isVip" column="isVip" />
        <result property="issueTime" column="issueTime"/>
        <result property="cause" column="cause"/>
		<association property="inventory" column="iid"
			select="com.simland.core.module.shop.mapper.InventoryMapper.getInventory" />

		<association property="categoryPropertiesVal1" column="attr1"
			select="com.simland.core.module.shop.mapper.CategoryPropertiesValMapper.getCategoryPropertiesVal" />
		<association property="categoryPropertiesVal2" column="attr2"
			select="com.simland.core.module.shop.mapper.CategoryPropertiesValMapper.getCategoryPropertiesVal" />

	</resultMap>


	<sql id="Base_Column_List">
	    <![CDATA[
        id id,
        sid sid,
        name name,
        img img,
        type type,
        collectNum collectNum,
        marketPrice marketPrice,
        realPrice realPrice,
        createTime createTime,
        creater creater,
        isNew isNew,
        isSpecial isSpecial,
        isVip isVip,
        issueTime issueTime,
        cause cause,
        status status
	    ]]>
	</sql>


	<insert id="insertCommodity" useGeneratedKeys="true"
		keyProperty="id" parameterType="com.simland.core.module.shop.entity.Commodity">
	    <![CDATA[
	        INSERT INTO t_commodity (
		        sid,
		        name,
		        img,
		        type,
		        collectNum,
		        marketPrice,
		        realPrice,
		        createTime,
		        creater,
		        isNew,
		        isSpecial,
		        isVip,
		        issueTime,
		        cause,
		        status
	        ) VALUES (
		        	#{sid},
		        	#{name},
		        	#{img},
		        	#{type},
		        	#{collectNum},
		        	#{marketPrice},
		        	#{realPrice},
		        	#{createTime},
		        	#{creater},
		        	#{isNew},
		        	#{isSpecial},
		        	#{isVip},
		        	#{issueTime},
		        	#{cause},
		        	#{status}
	        )
	    ]]>
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() as id
		</selectKey>
	</insert>

	<update id="updateCommodity">
	    <![CDATA[
        UPDATE t_commodity
        ]]>
        <set>
		<if test="sid!=null">
			sid = #{sid},
		</if>
		<if test="name!=null">
			name = #{name},
		</if>
		<if test="img!=null">
			img = #{img},
		</if>
		<if test="type!=null">
			type = #{type},
		</if>
		<if test="collectNum!=null">
			collectNum = #{collectNum},
		</if>
		<if test="marketPrice!=null">
			marketPrice = #{marketPrice},
		</if>
		<if test="realPrice!=null">
			realPrice = #{realPrice},
		</if>
		<if test="createTime!=null">
			createTime = #{createTime},
		</if>
		<if test="creater!=null">
			creater = #{creater},
		</if>
		<if test="isNew!=null">
			isNew = #{isNew},
		</if>
		<if test="isSpecial!=null">
			isSpecial = #{isSpecial},
		</if>
		<if test="isVip!=null">
			isVip = #{isVip},
		</if>
		
		<if test="issueTime!=null">
			issueTime = #{issueTime},
		</if>
		<if test="cause!=null">
			cause = #{cause},
		</if>	
		<if test="status!=null">
			status = #{status},
		</if>	
		</set>
	    <![CDATA[  
        WHERE 
	        id = #{id}
    	]]>
	</update>

	<delete id="deleteCommodity">
    <![CDATA[
        DELETE FROM t_commodity WHERE
        id = #{id} 
    ]]>
	</delete>

	<select id="getCommodity" resultMap="CommodityRM">
		SELECT
		<include refid="Base_Column_List" />
	    <![CDATA[
		    FROM t_commodity 
	        WHERE 
	        id = #{id} 
	    ]]>
	</select>

	<select id="getCommodityList" resultMap="CommodityRM">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_commodity t1
		<include refid="pageWhere" />
	</select>

	<sql id="pageWhere">
		<where>
			<if test="id!=null">
				AND t1.id = #{id}
			</if>
			<if test="sid!=null">
				AND t1.sid = #{sid}
			</if>
			<if test="name!=null">
				AND t1.name = #{name}
			</if>
			<if test="img!=null">
				AND t1.img = #{img}
			</if>
			<if test="type!=null">
				AND t1.type = #{type}
			</if>
			<if test="collectNum!=null">
				AND t1.collectNum = #{collectNum}
			</if>
			<if test="marketPrice!=null">
				AND t1.marketPrice = #{marketPrice}
			</if>
			<if test="realPrice!=null">
				AND t1.realPrice = #{realPrice}
			</if>
			<if test="createTime!=null">
				AND t1.createTime = #{createTime}
			</if>
			<if test="creater!=null">
				AND t1.creater = #{creater}
			</if>
			<if test="isNew!=null">
				AND t1.isNew = #{isNew}
			</if>
			<if test="isSpecial!=null">
				AND t1.isSpecial = #{isSpecial}
			</if>
			<if test="ids!=null">
				AND t1.id in (${ids})
			</if>
			<if test="isVip!=null">
				AND t1.isVip = #{isVip}
			</if>
			<if test="status!=null">
				AND t1.status = #{status}
			</if>

		</where>
	</sql>

	<select id="getCommodityCount" resultType="int">
		SELECT count(*) FROM t_commodity t1
		<include refid="pageWhere" />
	</select>
	
	
	<select id="getCommodityById" resultMap="CommodityBase">
		SELECT 
		<include refid="Base_Column_List" />
		FROM t_commodity t1 WHERE id = #{cid}
	</select>

	<select id="getSplitCommodityList" resultMap="CommodityRM">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_commodity t1
		<include refid="pageWhere" />

		<if test="sortColumns!=null">
			ORDER BY #{sortColumns} desc
		</if>
		limit #{endSize},#{pageSize}
	</select>

	<!-- 关联库存查询 -->
	<select id="getSplitCommodityByInventory" resultMap="CommodityRM1">
	    <![CDATA[
	    	select t1.*,t2.id iid,t2.attr1,t2.attr2 from t_inventory t2 left join t_commodity t1 on t1.id = t2.cid
	    ]]>
		<include refid="pageWhere" />
		<if test="sortColumns!=null">
			ORDER BY #{sortColumns} desc
		</if>
		limit #{endSize},#{pageSize}
	</select>


	<select id="getSplitCommodityByInventoryCount" resultType="int">
	    <![CDATA[
	    	select count(*) from t_inventory t2 left join t_commodity t1 on t1.id = t2.cid
	    ]]>
		<include refid="pageWhere" />
	</select>

	<!-- 批量更新商品上下架状态 -->
	<update id="updateCommodityStatusByIds" parameterType="java.util.Map">
		<![CDATA[
			UPDATE t_commodity
		]]>
		<set>
			status = #{status},
			issueTime = CURDATE(),
			<if test="cause!=null">
				cause = #{cause}
			</if>
		</set>
		<where>
			id in
		<foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
			<![CDATA[
 				#{item}
		    ]]>
		</foreach>	
		</where>
	</update>

</mapper>
