<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.simland.core.module.shop.mapper.InventoryMapper">

	<resultMap id="InventoryRM" type="com.simland.core.module.shop.entity.Inventory">
        <result property="id" column="id"/>
        <result property="cpid" column="cpid"/>
        <result property="cid" column="cid"/>
        <result property="attr1" column="attr1"/>
        <result property="attr2" column="attr2"/>
        <result property="nums" column="nums"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="productCode" column="productCode"/>
        <result property="status" column="status"/>
        <result property="type" column="type"/>
        <result property="sid" column="sid"/>
        <result property="isDel" column="isDel"/>
	</resultMap>
	
	<resultMap id="InventoryRM1" type="com.simland.core.module.shop.entity.CommodityInventory">
		<result property="cid" column="cid"/>
		<result property="cpid" column="cpid"/>
        <result property="attr1" column="attr1"/>
        <result property="attr2" column="attr2"/>
        <result property="nums" column="nums"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="productCode" column="productCode"/>
        <result property="sid" column="sid"/>
        <result property="cpvalue1" column="cpvalue1"/>
        <result property="cpvalue2" column="cpvalue2"/>
	</resultMap>

	<sql id="Base_Column_List">
	    <![CDATA[
        id id,
        cpid cpid,
        cid cid,
        attr1 attr1,
        attr2 attr2,
        nums nums,
        price price,
        image image,
        productCode productCode,
        status status,
        type type,
        sid sid,
        isDel isDel
	    ]]>
	</sql>


	<insert id="insertInventory" useGeneratedKeys="true" keyProperty="id"
	parameterType="com.simland.core.module.shop.entity.Inventory">
	    <![CDATA[
	        INSERT INTO t_inventory (
		        cid,
		        cpid,
		        attr1,
		        attr2,
		        nums,
		        price,
		        image,
		        productCode,
		        status,
		        type,
		        sid
	        ) VALUES (
		        	#{cid},
		        	#{cpid},
		        	#{attr1},
		        	#{attr2},
		        	#{nums},
		        	#{price},
		        	#{image},
		        	#{productCode},
		        	#{status},
		        	#{type},
		        	#{sid}
	        )
	    ]]>
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() as id
		</selectKey>     
	</insert>
	
	<insert id="insertBatchInventory" parameterType="com.simland.core.module.shop.entity.Inventory">
		<selectKey keyProperty="fetchTime" order="BEFORE"
			resultType="java.lang.String">
			SELECT CURRENT_TIMESTAMP()
		</selectKey>

			INSERT INTO t_inventory (
		        cid,
		        cpid,
		        attr1,
		        attr2,
		        nums,
		        price,
		        image,
		        productCode,
		        status,
		        type,
		        sid
	        ) VALUES 
		<foreach collection="list" item="item" index="index" separator=",">
			<![CDATA[
 				(
					#{item.cid},
					#{item.cpid},
		        	#{item.attr1},
		        	#{item.attr2},
		        	#{item.nums},
		        	#{item.price},
		        	#{item.image},
		        	#{item.productCode},
		        	#{item.status},
		        	#{item.type},
		        	#{item.sid}
		        )
		    ]]>
		</foreach>

	</insert>
	
	
	

	<update id="updateInventory">
	    <![CDATA[
        UPDATE t_inventory SET
        ]]>
		<if test="cid!=null">
        	cid = #{cid}
		</if>
		<if test="cpid!=null">
        	cpid = #{cpid}
		</if>		
		<if test="attr1!=null">
        	attr1 = #{attr1}
		</if>
		<if test="attr2!=null">
        	attr2 = #{attr2}
		</if>
		<if test="nums!=null">
        	nums = #{nums}
		</if>
		<if test="status!=null">
        	status = #{status}
		</if>
		<if test="type!=null">
        	type = #{type}
		</if>
		<if test="sid!=null">
        	sid = #{sid}
		</if>
		<if test="isDel!=null">
        	isDel = #{isDel}
		</if>
	    <![CDATA[  
        WHERE 
	        id = #{id}
    	]]>
	</update>

	<delete id="deleteInventory">
    <![CDATA[
        UPDATE t_inventory SET isDel=1 WHERE
        id = #{id} 
    ]]>
	</delete>
	
	<delete id="deleteInventoryByCid">
    <![CDATA[
        UPDATE t_inventory SET isDel=1 WHERE
        cid = #{cid} 
    ]]>
	</delete>	
	
	<select id="getInventory" resultMap="InventoryRM">
		SELECT
		<include refid="Base_Column_List" />
	    <![CDATA[
		    FROM t_inventory 
	        WHERE 
	        id = #{id} AND isDel=0
	    ]]>
	</select>

	<select id="getInventoryList" resultMap="InventoryRM">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_inventory  
		<include refid="pageWhere" />
	</select>

	<sql id="pageWhere">
		<where>
			isDel=0
			<if test="id!=null">
	        AND id = #{id}
	        </if>
			<if test="cpid!=null">
	        AND cpid = #{cpid}
	        </if>	        
			<if test="cid!=null">
	        AND cid = #{cid}
	        </if>
			<if test="attr1!=null">
	        AND attr1 = #{attr1}
	        </if>
			<if test="attr2!=null">
	        AND attr2 = #{attr2}
	        </if>
			<if test="nums!=null">
	        AND nums = #{nums}
	        </if>
			<if test="status!=null">
	        AND status = #{status}
	        </if>
			<if test="type!=null">
	        AND type = #{type}
	        </if>
			<if test="sid!=null">
	        AND sid = #{sid}
	        </if>
			<if test="isDel!=null">
	        AND isDel = #{isDel}
	        </if>
		</where>
	</sql>

	<select id="getInventoryCount" resultType="int">
		SELECT count(*) FROM t_inventory
		<include refid="pageWhere" />
	</select>
	
	<select id="getSplitInventoryList" resultMap="InventoryRM">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_inventory
		<include refid="pageWhere" />

		<if test="sortColumns!=null">
			ORDER BY #{sortColumns}
		</if>
		limit #{endSize},#{pageSize}
	</select>

	<select id="getInventoryByCommodityId" resultMap="InventoryRM1">
	    <![CDATA[
			select t1.cid,t1.cpid,t1.attr1,t1.attr2,t1.nums,t1.price,t1.image,t1.productCode,t1.sid,t2.cpvalue cpvalue1,t3.cpvalue cpvalue2 from t_inventory t1 
			left join t_category_properties_val t2 on t1.attr1 = t2.id
			left join t_category_properties_val t3 on t1.attr2 = t3.id
	    ]]>	
	    <where>
	    	t1.cid = #{cid} AND t1.isDel=0
	    </where>
		ORDER BY t1.id
	</select>
	
	<!-- 批量更新库存 -->
	<update id="updateInventoryNums">
		UPDATE t_inventory
		<set>
			nums = nums - ${nums}
		</set>
		<where>
			id = #{id}
		</where>
	</update>


	<select id="getInventoryNumsBySku" resultMap="InventoryRM">
		SELECT 
		<include refid="Base_Column_List" />
		FROM t_inventory t1
		<where>
			t1.cid = #{cid} AND t1.sid = #{sid}
			<if test="attr1!=null">
	        AND t1.attr1 = #{attr1}
	        </if>
			<if test="attr2!=null">
	        AND t1.attr2 = #{attr2}
	        </if>
		</where>
	</select>


</mapper>
